body {
    
    font-family: 'Roboto Slab', serif;
    background-image: url(image4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    
}

.container-fluid{
    
    padding: 14px 14px;
}

.logo{
    height: 75px;
    width: 97px;
    margin-left: 88px;
    padding: 5px 5px;
    border: 2px solid black;
}

.nav-item{
    margin: 23px;
    padding: 12px 20px;

}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 110%;
    text-decoration: none;
    font-weight: 600;
}

.navbar-dark .navbar-brand {
    
    color: #fff;
    padding: 20px 12px;
    font-size: x-large;
    font-weight: bold;
    
}

.navbar-nav{
    margin-left: auto;
    margin-right: 50px;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: antiquewhite;
}

.navbar-dark .navbar-nav .nav-link:visited{
    color: bisque;
}

.jumbotron {
    
    text-align: center;
    margin: 15% 30% 15% 30%;
    /* border: 4px solid black; */
}

h3 {
    
    margin-bottom: 28px;
    padding: 10px 33px
}

h4{
   
    color: silver;
    margin: 7px 25px;
    padding: 5px 25px;
 }

.btn{
    margin: 20px 0px 0px 0px;
    padding: 15px 10px;
 }

@media (max-width: 991px){
    .jumbotron{
        margin: 45% 16% 15% 16%;
    }
    .btn{
        padding: 1.375rem 1.75rem;
    }
    .nav-item {
        margin: 5px 5px 5px 15px;
        padding: 4px 18px;
    }

}
